{{#each this}}
<li class="country-list__item">
    <img class="country-list__flag" src="{{this.flags.png}}" alt="{{this.name}}" width="50" height="25">
    <p class="country-list__name">{{this.name.common}}</p>
</li>
{{/each}}